/* styles.css */
:root {
    --background-color: white;
    --text-border-color: black;
    --item-background: #d4edda;
    --item-border-color: #ddd;
    --grid-item: #d2cfcf;
    --grid-item-hover: #bebdbd;
    --success-status: #28a745;
    --fail-status: #dc3545;
    --overlay-color: rgba(0, 0, 0, 0.5);
    --dialog-background: var(--background-color);
    --button-background: #f5f5f5;
    --button-text-color: #333;
    --button-border-color: #ccc;
    --filter-active-background: #e0e0e0;
    --filter-active-border-color: #666;
    --spinner-border-color: rgba(0, 0, 0, 0.1);
    --spinner-highlight-color: #09f;
    --message-overlay-background: var(--overlay-color);
    --delete-dialog-shadow: rgba(0, 0, 0, 0.3);
    --spinner-overlay: rgba(255, 255, 255, 0.5);
    --message-content-shadow: rgba(0, 0, 0, 0.2);
}

.dark-mode {
    --background-color: #121212;
    --text-border-color: white;
    --item-background: #2f9547;
    --item-border-color: #555;
    --grid-item: #434343;
    --grid-item-hover: #525252;
    --success-status: #28a745;
    --fail-status: #dc3545;
    --overlay-color: rgba(255, 255, 255, 0.1);
    --dialog-background: var(--background-color);
    --button-background: #333333;
    --button-text-color: #f5f5f5;
    --button-border-color: #444;
    --filter-active-background: #424242;
    --filter-active-border-color: #888;
    --spinner-border-color: rgba(255, 255, 255, 0.1);
    --spinner-highlight-color: #09f;
    --message-overlay-background: var(--overlay-color);
    --delete-dialog-shadow: rgba(255, 255, 255, 0.1);
    --spinner-overlay: rgba(0, 0, 0, 0.5);
    --message-content-shadow: rgba(255, 255, 255, 0.2);
}

body {
    background-color: white;
    color: black;
}

body.dark-mode {
    background-color: #121212;
    color: white;
}

input {
    background-color: white;
    color: black;
}

.dark-mode input {
    background-color: #121212;
    color: white;
}

button {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ccc;
}

.dark-mode button {
    background-color: #333;
    color: #f5f5f5;
    border: 1px solid #444;
}

.buttonSpacingSettings {
    margin-right: 10px;
}

/* Styles for MemberList */
.memberListContainer {
    position: absolute;
    top: 40px;
    right: 0;
    width: 20%;
    height: 60%;
    margin: 10px;
    background-color: var(--background-color);
    border: 1px solid var(--text-border-color);
    z-index: 100;
    overflow-y: auto;
}

.memberTitle {
    text-align: center;
    margin-bottom: 10px;
}

.memberItem,
.memberInputContainer {
    margin-left: 10px;
    margin-top: 10px;
}

.deleteButtonMember {
    align-items: center;
}

.hidden {
    display: none;
}

/* Styles for Item */
.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid var(--item-border-color);
    border-radius: 4px;
    font-size: 1.0em;
}

.itemSolved {
    background-color: var(--item-background);
}

/* Styles for ItemList */
.itemListContainer {
    border: 1px solid var(--text-border-color);
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.itemListHeader,
.memberItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.itemListButton {
    margin: 10px;
}

.filterButton,
.itemButton {
    margin-right: 10px
}

/* Styles for App (main component) */
.appContainer {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}

.userHeader {
    text-align: right;
    margin-right: 10px;
    font-size: 1.0em;
    color: grey;
}

.buttonContainerMembers {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.homePageHeadline {
    flex: 1;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 3.0em;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    padding: 10px;
    margin: 20px 200px;
    border: 5px solid var(--text-border-color);
}

.gridItem {
    height: 500px;
    background-color: var(--grid-item);
    border: 1px solid var(--item-border-color);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.gridItem:hover {
    background-color: var(--grid-item-hover)
}

.listName {
    font-size: 3.0em;
    margin-bottom: 0.5em;
}

.listOwner {
    font-size: 1em;
    color: grey;
    margin-bottom: 1em;
}

.divider {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, var(--overlay-color), transparent);
    margin: 1em 0;
}

.listDetails {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    position: absolute;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20%;
    font-size: 1.0em;
}

.listMembers,
.listItems {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.deleteButton,
.archiveButton {
    position: absolute;
    top: 10px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background);
    color: var(--button-text-color);
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
}

.deleteButton {
    right: 10px;
}

.archiveButton {
    right: 80px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.dialog,
.deleteDialog {
    background: var(--background-color);
    padding: 20px;
    border: 1px solid var(--button-border-color);
    border-radius: 5px;
    box-shadow: 0 5px 15px var(--delete-dialog-shadow);
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog button,
.deleteDialog button {
    margin: 0 5px;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
    padding: 10px;
    font-size: 1.0em;
}

.buttonContainer button {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--button-border-color);
    background-color: var(--button-background);
    color: var(--button-text-color);
    cursor: pointer;
    font-size: 0.8em;
}

.buttonContainer .filterButtons button {
    margin-right: 10px;
}

.buttonContainer .filterButtons .activeFilter {
    background-color: var(--filter-active-background);
    border-color: var(--filter-active-border-color);
    color: var(--button-text-color);
}

.activeFilter {
    background-color: var(--filter-active-background);
    border-color: var(--filter-active-border-color);
    color: var(--button-text-color);
}

.archivedItem {
    opacity: 0.3;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 4px solid var(--spinner-border-color);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: var(--spinner-highlight-color);

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinnerOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--spinner-overlay);
    z-index: 1000;
}

.operationStatus {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    color: var(--text-border-color);
    z-index: 1010;
}

.operationStatus.success {
    color: var(--success-status);
}

.operationStatus.fail {
    color: var(--fail-status);
}

.messageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--overlay-color);
    z-index: 1000;
}

.messageContent {
    background: var(--background-color);
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0 2px 10px var(--message-content-shadow);
}

.newShoppingListDialog {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.recharts-pie .recharts-sector:focus {
    outline: none;
}

.chartContainer {
    margin: 0px 200px; 
}

@media screen and (max-width: 889px) {
    .gridContainer {
        grid-template-columns: 1fr; 
        margin: 20px;
    }

    .chartContainer {
        margin: 0px 20px; 
    }

    .gridItem {
        height: 500px;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        padding: 10px;
    }

    .messageOverlay {
        align-items: flex-start; 
        padding-top: 400px;
    }

    .archiveButton, .deleteButton {
        margin: 5px 0; 
        width: auto; 
    }

    .memberListContainer {
        width: 60%;
        position: static; 
        height: 40%;
        margin: 10px 0;
    }

    .itemButtonContainer {
        display: flex;
        flex-direction: row; 
        justify-content: flex-start;
    }
}

@media screen and (max-width: 500px) {
    .homePageHeadline, .listName {
        font-size: 2em; 
    }

    .userHeader, .messageContent, .deleteButton, .archiveButton, .buttonContainer, .memberTitle, .listDetails, .itemListHeader, .memberItem, .listOwner, .itemContainer {
        font-size: 0.7em; 
    }

    .gridItem {
        height: 300px;
    }

    .itemListContainer, .itemContainer {
        margin: 5px;
        padding: 5px;
    }

    .filterButton, .itemButton {
        margin-right: 2px
    }

    button, input {
        font-size: 0.7em; 
    }

    .dialog, .deleteDialog, .messageContent {
        width: 200px;
    }

    .messageOverlay {
        align-items: flex-start; 
        padding-top: 250px;
    }

    .newShoppingListDialog {
        flex-direction: column;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
        padding: 10px; 
    }
}
