/* styles.css */

/* Styles for MemberList */
.memberListContainer {
    position: absolute;
    top: 40px;
    right: 0;
    width: 20%;
    height: 60%;
    margin: 10px;
    background-color: white;
    border: 1px solid black;
    z-index: 100;
    overflow-y: auto;
}

.memberTitle {
    text-align: center; 
    margin-bottom: 10px; 
}

.memberItem, .memberInputContainer {
    margin-left: 10px;
    margin-top: 10px; 
}

.deleteButtonMember {
    align-items: center;
}

.hidden {
    display: none;
}

/* Styles for Item */
.itemContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.itemSolved {
    background-color: #d4edda; 
}

/* Styles for ItemList */
.itemListContainer {
    border: 1px solid #000;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.itemListHeader, .memberItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
}

.itemListButton {
    margin: 10px;
}

.filterButton, .itemButton {
    margin-right: 10px
}

/* Styles for App */
.itemListContainer {
    border: 1px solid #000;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}

.itemListButton {
    margin: 10px;
}

/* Styles for App (main component) */
.appContainer {
    font-family: 'Roboto', sans-serif;
}

.userHeader {
    text-align: right;
    margin-right: 10px;
    font-size: 1.0em;
    color: grey;
}

.buttonContainerMembers {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
}

.homePageHeadline {
    flex: 1;
    text-align: center;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: 3.0em;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 10px;
    padding: 10px;
    margin: 20px 200px;
    border: 5px solid #000;
}

.gridItem {
    height: 500px;
    background-color: #d2cfcf;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
}

.gridItem:hover {
    background-color: #bebdbd
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin: 100px 200px 10px 200px; 
}

.listName {
    font-size: 3.0em; 
    margin-bottom: 0.5em; 
}

.listOwner {
    font-size: 1em; 
    color: grey; 
    margin-bottom: 1em; 
}

.divider {
    border: 0;
    height: 2px; 
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
    margin: 1em 0; 
}

.listDetails {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    text-align: center; 
    height: 50%;
}

.listMembers, .listItems {
    width: 50%; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    font-size: 1.5em;
}

.deleteButton, .archiveButton {
    position: absolute;
    top: 10px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 0.8em;
    font-weight: bold;
}

.deleteButton {
    right: 10px; 
}

.archiveButton {
    right: 80px; 
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.dialog, .deleteDialog {
    background: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    width: 300px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dialog button, .deleteDialog button {
    margin: 0 5px;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 200px;
}

.buttonContainer button {
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    cursor: pointer;
    font-size: 0.8em;
}

.buttonContainer .filterButtons button {
    margin-right: 10px;
}

.buttonContainer .filterButtons .activeFilter {
    background-color: #e0e0e0; 
    border-color: #666; 
    color: #333; 
}

.activeFilter {
    background-color: #e0e0e0; 
    border-color: #666; 
    color: #333; 
}

.archivedItem {
    opacity: 0.3; 
}

